<!-- Portfolio Grid -->
{% if site.locale and site.locale != "" and site.locale != nil %}
<section class="bg-light page-section" id="partners">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Supported by</h2>
      </div>
    </div>
    <div class="row">                
      <div class="col-lg-12 text-center">
          <a href="https://future-of-health.org/"><img src="assets\img\future_of_health_grant_logo.png" class="logo_partners"/> </a>
      </div>
    </div>
  </div>
</section>
{% endif %}
