<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Concept</h2>
                    <h3 class="section-subheading text-muted">HappyGrandy delivers an all-in-one solution for elderly to improve social interaction and provide direct access to health caregivers</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Elderly</h4>
                    <p class="text-muted">Upgrade their existing TV to enable video-calling on a big screen from their couch</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-child fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Family members</h4>
                    <p class="text-muted">More involved with elderly and always up to date with their health situation.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-medkit fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Health caregivers</h4>
                    <p class="text-muted">In direct contact with elderly, providing more efficient access to a larger segment of the elderly population.</p>
                </div>
            </div>
        </div>
    </section>