// Styling for the partners section
.logo_partners {
    width: 100%;
    max-width: 1000px;
    height: auto;
    margin-top: 40px;

}
.logo_partners_small {
    width: 50%;
    max-width: 1000px;
    height: auto;
    margin-top: 40px;

}
  
